.HOME {
  position: relative;
  text-decoration-color: #FFF
  background-color: #080;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}
.btn btn-primary{
  position: relative;
  text-decoration-color: #FFF
  background-color: #080;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}